@import url(reset.css);
@import url(header.css);
@import url(albums.css);
@import url(genres.css);
@import url(index.css);
@import url(price-range.css);

:root {
    --color-brand-1: #6F00FF;
    --color-brand-2: #8629FF; 

    --color-gray-1: #15171A;
    --color-gray-2: #212529;
    --color-gray-3: #2B2F33;
    --color-gray-4: #CED4DA;
    --color-gray-5: #DEE2E6;
    --color-gray-6: #F1F3F5;
    --color-gray-7: #F8F9FA;
    --color-gray-8: #FDFEFF;
}

section {
    margin-left: 11%;
    margin-right: 11%;
}

main {
    position: relative;
    top: 160px;
}

.dark-mode{
    background-color: var(--color-gray-1);
    color: var(--color-gray-8);
}

.dark-mode header{
  background-color: var(--color-gray-1);
  color: var(--color-gray-8);
}

.dark-mode li{
    background-color: var(--color-gray-2);
}

.dark-mode li:hover {
    background-color: var(--color-gray-8);
    color: var(--color-gray-1);
}

.dark-mode .card{
    background-color: var(--color-gray-2);
    color: var(--color-gray-7);
}

.dark-mode h3{
    color:var(--color-gray-8);
}
.dark-mode p{
    color:var(--color-gray-8);
}

.dark-mode .card:hover {
    background-color: var(--color-gray-3);
}

.dark-mode #themeIcon {
    content: url('sun-icon.svg');
}